In [1]:
import pandas as pd   
import numpy as np    
import matplotlib.pyplot as plt 
%matplotlib inline
%config InlineBackend.figure_formats = ['retina']
import seaborn as sns
import time
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import KFold, cross_val_score, GridSearchCV, StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC, SVC
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, log_loss
from sklearn.metrics import auc, roc_curve, roc_auc_score, precision_recall_curve
from sklearn.metrics import fbeta_score, cohen_kappa_score
SEED = 42

In [2]:
df=pd.read_csv('D:\MAJOR PROJECT\datasets\sampled_dataset.csv')  
df

,Unnamed: 0,BQ,ESS,BMI,Weight,Height,Head,Neck,Waist,Buttock,Age,M,status
0,0,0,14,29.06593,88.0,174.0,57.5,39.0,96.0,106.0,20.0,1,0
1,1,0,8,26.98962,78.0,170.0,57.0,36.0,90.0,100.0,20.0,1,0
2,2,0,16,23.93948,75.0,177.0,59.0,39.0,88.0,104.0,20.0,1,0
3,3,0,15,22.12974,67.0,174.0,57.0,35.0,74.0,94.0,20.0,1,0
4,4,0,15,22.12974,67.0,174.0,57.0,35.0,74.0,94.0,20.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,9573,0,9,28.92147,77.0,163.0,54.1,32.0,95.0,115.0,61.0,0,2
9574,9574,0,9,25.09116,72.0,170.0,57.8,36.0,84.0,97.0,33.0,1,2
9575,9575,0,9,24.29521,71.0,172.0,57.3,36.0,86.0,98.0,39.0,1,2
9576,9576,0,13,28.56268,83.0,171.0,58.8,42.0,91.0,101.0,36.0,1,2
9577,9577,0,4,27.93178,73.0,162.0,54.0,34.0,93.0,110.0,57.0,0,2

In [3]:
print ('Rows     : ', df.shape[0]) # helps to show total no.of rows in dataset
print ('Columns  : ', df.shape[1]) # helps to show total no.of columns(features) in dataset
print ('\nFeatures : \n', df.columns.tolist()) # helps to show the features in dataset
print ('\nMissing values :  ', df.isnull().sum().values.sum()) # help to show total no.of missing values in dataset
print ('\nUnique values :  \n', df.nunique()) # helps to show total no.of unique values in each feature of dataset

Rows     :  9578
Columns  :  13

Features :
 ['Unnamed: 0', 'BQ', 'ESS', 'BMI', 'Weight', 'Height', 'Head', 'Neck', 'Waist', 'Buttock', 'Age', 'M', 'status']

Missing values :   0

Unique values :
 Unnamed: 0    9578
BQ               2
ESS             29
BMI           6284
Weight         117
Height          54
Head           116
Neck            31
Waist           90
Buttock         76
Age             61
M                2
status           4
dtype: int64

In [4]:
df=pd.read_csv('D:\MAJOR PROJECT\datasets\sampled1_dataset.csv')  
df

,Unnamed: 0,BQ,ESS,BMI,Weight,Height,Head,Neck,Waist,Buttock,Age,M,status
0,0,0,14,29.06593,88.0,174.0,57.5,39.0,96.0,106.0,20.0,1,0
1,1,0,8,26.98962,78.0,170.0,57.0,36.0,90.0,100.0,20.0,1,0
2,2,0,16,23.93948,75.0,177.0,59.0,39.0,88.0,104.0,20.0,1,0
3,3,0,15,22.12974,67.0,174.0,57.0,35.0,74.0,94.0,20.0,1,0
4,4,0,15,22.12974,67.0,174.0,57.0,35.0,74.0,94.0,20.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11531,11531,0,16,29.48650,99.0,183.0,57.1,42.0,111.0,109.0,56.0,1,3
11532,11532,0,11,25.07382,66.0,162.0,55.1,36.0,91.0,96.0,61.0,1,3
11533,11533,0,6,28.66613,96.0,183.0,58.0,39.0,99.0,108.0,36.0,1,3
11534,11534,0,15,28.73175,85.0,172.0,60.2,40.0,103.0,105.0,63.0,1,3
11535,11535,0,1,45.26355,140.0,176.0,61.0,46.0,146.0,132.0,43.0,1,3

In [5]:
print ('Rows     : ', df.shape[0]) # helps to show total no.of rows in dataset
print ('Columns  : ', df.shape[1]) # helps to show total no.of columns(features) in dataset
print ('\nFeatures : \n', df.columns.tolist()) # helps to show the features in dataset
print ('\nMissing values :  ', df.isnull().sum().values.sum()) # help to show total no.of missing values in dataset
print ('\nUnique values :  \n', df.nunique()) # helps to show total no.of unique values in each feature of dataset

Rows     :  11536
Columns  :  13

Features :
 ['Unnamed: 0', 'BQ', 'ESS', 'BMI', 'Weight', 'Height', 'Head', 'Neck', 'Waist', 'Buttock', 'Age', 'M', 'status']

Missing values :   0

Unique values :
 Unnamed: 0    11536
BQ                2
ESS              29
BMI            8185
Weight          121
Height           54
Head            127
Neck             31
Waist            92
Buttock          76
Age              61
M                 2
status            4
dtype: int64

In [6]:
df=pd.read_csv('preprocessed_datset.csv')  
df

,BQ,ESS,BMI,Weight,Height,Head,Neck,Waist,Buttock,Age,M,status
0,0,14,29.065927,88.0,174.0,57.500000,39.0,95.5,106.5,20.0,1,0
1,0,8,26.989619,78.0,170.0,57.000000,36.5,90.0,100.0,20.0,1,0
2,0,16,23.939481,75.0,177.0,59.000000,39.0,88.0,104.0,20.0,1,0
3,0,15,22.129740,67.0,174.0,57.000000,35.0,74.0,94.0,20.0,1,0
4,0,15,22.129740,67.0,174.0,57.000000,35.0,74.0,94.0,20.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5203,1,6,24.005487,63.0,162.0,57.000000,33.0,99.0,101.5,77.0,0,3
5204,0,13,29.964328,63.0,145.0,53.000000,35.8,102.0,112.0,77.0,0,3
5205,0,13,29.964328,63.0,145.0,53.000000,35.8,102.0,112.0,77.0,0,3
5206,0,0,24.654832,60.0,156.0,54.500000,35.0,83.5,99.0,79.0,0,3
5207,1,17,20.077748,47.0,153.0,54.799999,30.5,68.0,88.0,80.0,0,0

In [7]:
print ('Rows     : ', df.shape[0]) # helps to show total no.of rows in dataset
print ('Columns  : ', df.shape[1]) # helps to show total no.of columns(features) in dataset
print ('\nFeatures : \n', df.columns.tolist()) # helps to show the features in dataset
print ('\nMissing values :  ', df.isnull().sum().values.sum()) # help to show total no.of missing values in dataset
print ('\nUnique values :  \n', df.nunique()) # helps to show total no.of unique values in each feature of dataset

Rows     :  5208
Columns  :  12

Features :
 ['BQ', 'ESS', 'BMI', 'Weight', 'Height', 'Head', 'Neck', 'Waist', 'Buttock', 'Age', 'M', 'status']

Missing values :   0

Unique values :
 BQ            2
ESS          29
BMI        2076
Weight      434
Height      120
Head        113
Neck        166
Waist       256
Buttock     208
Age          63
M             2
status        4
dtype: int64